<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Lookup</title>
    <style>
        .result-container { 
            margin-left: 0;
            padding-left: 0;
            text-align: left;
        }
    </style>
</head>

<div class="container">
    <h2>Search Page</h2>
    <form id="search-form">
        <input type="text" id="phone-number" name="query" placeholder="Enter phone number" maxlength="10"
            pattern="\d{10}" title="Enter a 10-digit phone number" oninput="validateInput()">
        <button type="button" id="search-button" onclick="searchPhoneNumber()" disabled>Search</button>
    </form>

    <div id="results" class="results"></div>
</div>

<script>
    function validateInput() {
        let phoneNumber = document.getElementById('phone-number').value;
        const searchButton = document.getElementById('search-button');
        phoneNumber = phoneNumber.replace(/[^0-9]/g, '');
        document.getElementById('phone-number').value = phoneNumber;
        searchButton.disabled = !(phoneNumber.length === 10);
    }

    async function searchPhoneNumber() {
        const phoneNumber = document.getElementById('phone-number').value;

        try {
            const response = await fetch(`/search-phone?num=${encodeURIComponent(phoneNumber)}`);
            const data = await response.json();

            document.getElementById('results').innerHTML = `
                <h3>Search Results:</h3>
                <div class="result-container">
                    Номер телефона: ${data.phone_number}<br>
                    Оператор: ${data.operator}<br>
                    Регион: ${data.region}
                </div>
            `;
        } catch (error) {
            document.getElementById('results').innerHTML = '<p>Error fetching data.</p>';
            console.error('Error:', error);
        }
    }
</script>
